@import "vars";
@import "mixins";

img {
  vertical-align: top;
}
body {
  background: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 1px,
      0,
      transparent 50px
    )
    #333;
  font-family: "Poppins", "Noto Sans KR";
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 18px;
    text-align: center;
    color: #111;
    background-color: #fff;
    height: 50px;
    position: fixed;
    width: 100%;
    @include flexCenter();
    top: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    @include longShadow(darken(#ccc, 10), right, 30);
    strong {
      font-weight: 700;
    }
  }
  .databox {
    display: flex;
    margin-top: 100px;
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 1000px;
      li {
        flex-basis: 100px;
        margin: 5px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .incDec {
          margin-top: 20px;
          font-size: 48px;
          font-weight: 300;
          @include longShadow(#999, right, 50);
        }
      }
    }
  }
}
.calender {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 300px;

  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      outline: none;
      border: none;
    }
    .monthBox {
      .month {
        font-weight: 700;
      }
    }
  }
  .days {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .days,
  .dates {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 7 - 4px);
        margin: 2px;
        color: #fff;

        position: relative;
        cursor: pointer;
        &.on {
          span {
            border-color: #111;
          }
        }
        &.sun {
          span {
            background-color: red;
          }
        }
        &.today {
          span {
            border-color: red;
            font-weight: 700;
            @include longShadow(darken(rgb(17, 148, 236), 10), right, 30);
          }
        }
        &.blank {
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
        }
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        span {
          position: absolute;
          overflow: hidden;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #111;
          transition: 0.25s ease;
          color: #fff;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
  }
}
